body {
  margin: 0;
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400; 
  line-height: 1.8em;
  color:#666;
}

.linksBar a:hover{
  background-color: whitesmoke;

}

.home{
  background-color: #6F2DBD;
}
.linksBar{
  width: 100%;
  background-color: #B298DC;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around;
}

.linksBar > a { 
  transition: all 0.3s ease;
  color:black;
  font-size: 36px;
  opacity: .5;
  padding: 12px 0; 
}

